@import './reset.scss';
//滚动条外观设置
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $base-menu-background;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(229, 248, 215);
    border-radius: 10px;
}
.table-header-th{
    color: $base-menu-background;
    padding: 3px 0!important;
    font-weight: 500!important;
}

.search_box{
    font-size: 13px;
    border-bottom: 1px solid #cbcbcb;
    padding: 5px 0;
    margin-bottom: 10px;
    & .el-form-item{
        margin-bottom: 10px;
    }
}
.echarts_box{
    border-bottom: 1px solid #cbcbcb;
    padding: 5px 10px;
    margin-bottom: 10px;
}